@import url("https://fonts.googleapis.com/css2?family=Karla&family=Roboto+Mono:wght@300&family=Tajawal&display=swap");

.homepage {
  width: 280px;
}

/* Headers on top of pages*/
h1 {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -0.5px;
  color: darkblue;
}

/* Largest text; subheaders, item titles */
h2 {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

/* Second largest text black, bigger paragraphs  */
h3 {
  font-family: Tajawal;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

/* Largest text green, INDICATION FOR POINTS  */
h4 {
  font-family: Tajawal;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #227570;
}

/* paragraph text, used for larger paragraphs */
p {
  font-family: Tajawal;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

/* for the itemcard */
.itemcard {
  position: relative;
  width: 330px;
  height: 130px;
  background: #ebf3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img.itemimage {
  border-radius: 12.9676px;
  color: black;
}

/*for the user profile page card */
.usercard {
  width: 331px;
  height: 227px;
  left: 22px;
  top: 137px;
  background: #fff3ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img.profilepicture {
  width: 174px;
  height: 132px;
  left: 100px;
  top: 156px;
  background: black;
  border-radius: 10.9783px;
}

.toppage {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.refresh-button {
  background: darkblue;
  border: none;
  padding: 10px 20px;
  height: 50px;
  color: white;
  margin: 20px;
  border-radius: 8px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.search-bar {
  width: 200px;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.search-button {
  background: #ff7008;
  border: none;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px;
  border-radius: 8px;
}

.login {
  margin-top: 100px;
}

/* LOGIN CSS BELOW */
button {
  margin-top: 20px;
  width: auto;
  border: none;
  border-radius: 8px;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #2e2cc6;
  cursor: pointer;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button.login {
  margin-top: 5px;
  width: 191px;
  border: none;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #2e2cc6;
  cursor: pointer;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button.google {
  margin-top: 40px;
  background-color: white;
  padding: 0px;
}

.login .loginContainer {
  margin: auto;
  width: 300px;
  background: white;
}

.login .loginContainer label {
  color: black;
  font-family: Karla;
  margin: 14px 0;
  display: block;
  font-size: 16px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border-color: #2e2cc6;
  outline: none;
  font-size: 19px;
  padding: 10px;
  color: #2e2cc6;
  font: Karla;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 8px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 0px 0;
}

.login .loginContainer .btnContainer p {
  font-family: Karla;
  font-size: 16px;
  text-align: center;
  color: #ff7008;
  margin-top: 20px;
}

.login .loginContainer .btnContainer p span {
  color: #2e2cc6;
  font-weight: bold;
  font-family: Karla;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  margin-top: 20px;
}

.login .loginContainer .btnContainer p span:hover {
  color: #ff7008;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.hero {
  min-height: 100vh;
}

.hero nav {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #ff7008;
  background: white;
}

.hero nav button {
  border: none;
  width: 118px;
  border-radius: 4px;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #2e2cc6;
  cursor: pointer;
}

/* ITEM CSS BELOW */

.itemcard {
  margin-top: 20px;
  position: relative;
  width: 331px;
  height: 128px;

  background: #ebf3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.h2 {
  position: absolute;
  top: 5px;
  width: 160px;
  left: 160px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.p {
  position: absolute;
  left: 160px;
  top: 60px;
  width: 160px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.itemimage {
  position: absolute;
  left: 6.82%;
  right: 54.9%;
  top: 9.38%;
  bottom: 9.38%;

  border-radius: 12.9676px;
}

.dropdownSizings {
  margin: left;
  width: 300px;
}

/* NAVIGATION CSS BELOW */ 
.navbar {
    height: 80px;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    right: 1%;
    top: 9%;
    display: grid;
    grid-template-columns: repeat(auto,3);
    grid-gap: 0px;
    list-style: none;
    z-index: 2;
    background-color: #2e2cc6;
    position: absolute;
    width: 200px;
    height: 370px;
  }
  
  .hidden{
    display:none;
  }
  
  .nav-item {
    height: 80px;
    padding: 10px;
    margin: 10;
  }
  
  .nav-links {
    color:black;
    font-size: 17px;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .menu-icon {
    color: black;
    font-size: 30px;
    right: 3%;
  }
  
  .fa-times {
    position: absolute;
  }
  
  
  .nav-logo {
    display: flex;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    margin-left: 80px;
    margin-top: 0px;
  
  }
  
  .fa-chevron-left{
   text-decoration: none;
   margin-left: 45px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 30px;
   
  }

  /* ONBOARDING CSS BELOW */

.main .mainContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
    text-decoration: none;
  }

  .main .mainContainer .btnContainer r{
      width: 100%;
      padding: 45px 0;
      margin: 14px 0 0 0;
      text-decoration: none;
  }
  
  .main .mainContainer .btnContainer p {
    margin: 14px 0 0 0;
    font-family: Karla;
    font-size: 18px;
    text-align: right;
    color: #ff7008;
    text-decoration: none;
  }
  
  .main .mainContainer .btnContainer p span {
    color: #2e2cc6;
    font-weight: bold;
    font-family: Karla;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    text-decoration: none;
  }
  
  .main .mainContainer .btnContainer p span:hover {
    color: #ff7008;
  }
  
  .main {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background: #e9e9e9;
    display: flex;
  }
  
  .main .mainContainer {
    padding: 30px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
  }


  .hero {
    width: 100%;
    min-height: 100vh;
  }
  
  .hero nav {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero nav h2 {
    color: #ff7008;
    background: white;
    text-decoration: none;
  }
  
  .hero nav button {
    border: none;
    width: 118px;
    border-radius: 4px;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    background: #2e2cc6;
    cursor: pointer;
  }


  #rcorners {
    border-radius: 50px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .login {
    text-decoration: none;
  }