@import url("https://fonts.googleapis.com/css2?family=Karla&family=Roboto+Mono:wght@300&family=Tajawal&display=swap");

div.standardlo {
  width: 280px;
  margin-top:50px;
  width: auto;
  background: white;
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* NAVIGATION CSS BELOW */ 

.navbar {
  height: 100px;
  top: 0;
  z-index: 999;
  width:450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  right: 35%;
  top: 10%;
  padding:20px;
  display: grid;
  grid-template-columns: repeat(auto,3);
  grid-gap: 0px;
  list-style: none;
  z-index: 2;
  background-color: white;
  position: absolute;
  width: auto;
  border-radius:12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hidden{
  display:none;
}

.nav-item {
  height: 50px;
  padding: 0px;
  margin: 10;
  color: white;
}

.nav-links {
  color:#2e2cc6;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 50%;
}

.nav-links:hover {
  transition: all 0.2s ease-out;
  color: #ff7008;
  font-size:16px;
}

.menu-icon {
  color: #2e2cc6;
  font-size: 30px;
  right: 3%;
}

.menu-icon:hover {
  color: #ff7008;
  font-size: 30px;
  right: 3%;
  cursor: pointer;
}

.fa-times {
  display: flex;
  justify-content: flex-start;
}

.nav-logo {
  display: flex;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  margin-left: 0px;
  margin-top: 0px;

}

.fa-chevron-left{
 text-decoration: none;
 margin-left: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
 font-size: 30px;
 display: flex;
 justify-content: flex-start;
 color: #2e2cc6;
}

.fa-chevron-left:hover{
  text-decoration: none;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  display: flex;
  justify-content: flex-start;
  color: #ff7008;
 }

/* PAGE LAYOUT CSS BELOW */ 

.main {
  width: 100%;
  min-height: 100vh;
  background: #e9e9e9;
}

.mainContainer {
  padding: 30px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  background: white;
}

.toppage {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: left;
  flex-direction: column;
  height: auto;
}

.text{
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.main .mainContainer .btnContainer {
  width: 100%;
  padding: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

img.onboarding{
  width:450px;
  height:300px;
  border-radius:30px;
}

/* LOGIN CSS  */
.main .loginContainer{
  padding: 20px;
}

.main .loginContainer label {
  color: black;
  font-family: Karla;
  margin: 14px 0;
  display: block;
  font-size: 16px;
  line-height: 1;
}

.main .loginContainer input {
  width: 100%;
  border: 1px solid #2E2CC6;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  color:  gray;
  font: Karla;
  font-size: 16px;
  letter-spacing: 1px;
  
}

.main .loginContainer .btnContainer {
  width: 100%;
  padding: 0px 0;
}

.main .loginContainer .btnContainer p {
  font-family: Karla;
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ff7008;
  margin-top: 20px;
}

.main .loginContainer .btnContainer p span {
  color: #2e2cc6;
  font-weight: bold;
  font-family: Karla;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  margin-top: 20px;
}

.main .loginContainer .btnContainer p span:hover {
  color: #ff7008;
}

.main .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

/* category selection */
.categories{

  margin-top:30px;
  text-align:left;
}

.categoryselection{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 5px;
}

.hero{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:10px;
  margin-top:10px;
}

img.hero{
  border-radius: 30px;
}


/* for the itemcard */
.main .mainContainer .itemcard {
  width: 100%;
  height: auto;
  padding:0px;
  margin-top: 20px;
  background: #ebf3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  color: black;
  transition: all 300ms ease-in-out;
}

.main .mainContainer .itemcard:hover {
  width: 100%;
  height: auto;
  padding:0px;
  margin-top: 20px;
  background: #FFF3EA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  color: black;
  transition: all 300ms ease-in-out;
}

.itemtext {
  width: 100%;
  height: auto;
  margin-top:10px;
  margin-bottom: 10px;;
}

.itemimage {
  width: 85%;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
}

img.itemimage {
  border-radius: 12px;
}

/* ITEM PROFILE PAGE */
img.itemprofile{
  margin-top: 10px;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.itemprofilecard {
  width: 95%;
  height: auto;
  padding:20px;
  margin-top: 20px;
  margin-left: 10px;
  background: #ebf3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  color: black;
}

.itemprofileusercard {
  width: 95%;
  height: auto;
  padding: 0px;
  margin-top: 20px;
  margin-left: 10px;
  background: #FFF3EA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  color: black;
}

.itemprofiletext {
  width: 100%;
  height: auto;
  margin-top:20px;
  margin-bottom: 10px;;
}

.itemprofileimage {
  width: 85%;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* ITEM CHECKOUT & BORROWED */

.checkout {
  width: 100%;
  height: auto;
  margin-top:50px;
  margin-bottom: 10px;;
}


/* Headers on top of pages*/
h1 {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: -0.5px;
  color:#2E2CC6;
  line-height: 80%;
}

/* Largest text; subheaders, item titles */
h2 {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.5px;
  margin-top:20px;
}

/* Second largest text black, bigger paragraphs  */
h3 {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

/* Largest text green, INDICATION FOR POINTS  */
h4 {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #227570;
  letter-spacing: -0.5px;
}

/* paragraph text, used for larger paragraphs */
p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

p.blue {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #2e2cc6;
}


 /* SEARCH BAR */

 .search-form {
  min-height: 10vh;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.search-bar {
  width: 100%;
  margin-top: 10px;
}

.search-form input {
  width: 80%;
  border: 1px solid #2E2CC6;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  color:  gray;
  font: Karla;
  font-size: 16px;
  letter-spacing: 1px;
}

/* add item pages */
.additem {
  padding:10px;
  width: 100%;
  margin-top: 30px;
}


/*for the user profile page card */
.usercard {
  width: auto;
  height: auto;
  left: 22px;
  padding:20px;
  background: #fff3ea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img.profilepicture {
  width: 300px;
  height: 210px;
  left: 100px;
  top: 156px;
  background: black;
  border-radius: 12px;
}

.profile{
  margin-top:10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* BUTTONS */
button {
  margin: 10px;
  padding: 10px;
  width: auto;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 1px;
  background: #2e2cc6;
  cursor: pointer;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 200ms ease-in-out;
}

button:hover {
  margin-top: 10px;
  padding: 10px;
  width: auto;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 1px;
  background: #ff7008;
  cursor: pointer;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button.white {
  margin-top: 10px;
  padding: 10px;
  width: auto;
  border: none;
  border-radius: 4px;
  color: #2e2cc6;
  font-size: 16px;
  letter-spacing: 1px;
  background: white;
  cursor: pointer;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button.white:hover {
  margin-top: 10px;
  padding: 10px;
  width: auto;
  border: none;
  border-radius: 4px;
  color: #ff7008;
  font-size: 16px;
  letter-spacing: 1px;
  background: white;
  cursor: pointer;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button.outline{
  margin-top: 10px;
  padding: 10px;
  width: auto;
  border: 1px solid #2E2CC6;
  box-sizing: border-box;
  border-radius: 4px;
  color: #2e2cc6;
  font-size: 16px;
  letter-spacing: 1px;
  background: white;
  cursor: pointer;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button.outline:hover{
  margin-top: 10px;
  padding: 10px;
  width: auto;
  border: 1px solid #ff7008;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ff7008;
  font-size: 16px;
  letter-spacing: 1px;
  background: white;
  cursor: pointer;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button.login {
  margin-top: 15px;
  width: 191px;
  border: none;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #2e2cc6;
  cursor: pointer;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 200ms ease-in-out;
}

button.login:hover {
  margin-top: 15px;
  width: 191px;
  border: none;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #ff7008;
  cursor: pointer;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button.auth {
  margin-top: 0px;
  background-color: white;
  padding: 0px;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
