.navbar {
  height: 80px;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  right: 1%;
  top: 9%;
  display: grid;
  grid-template-columns: repeat(auto,3);
  grid-gap: 0px;
  list-style: none;
  z-index: 2;
  background-color: #2e2cc6;
  position: absolute;
  width: 200px;
  height: 370px;
}

.hidden{
  display:none;
}

.nav-item {
  height: 80px;
  padding: 10px;
  margin: 10;
}

.nav-links {
  color:black;
  font-size: 17px;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.menu-icon {
  color: black;
  font-size: 30px;
  right: 3%;
}

.fa-times {
  position: absolute;
}


.nav-logo {
  display: flex;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  margin-left: 80px;
  margin-top: 0px;

}

.fa-chevron-left{
 text-decoration: none;
 margin-left: 45px;
 margin-top: 10px;
 margin-bottom: 10px;
 font-size: 30px;
 
}